{% extends "layout.html" %}

{% block subtitle %}注册账号{% endblock %}
{% block body_id %}body-register{% endblock %}

{% block content %}
<div class="btn btn-default k-logo">K</div>
<div class="k-box k-input-box k-login-box clearfix">
	<h3 class="page-header">注册 HaoKu 账号</h3>
	<div class="k-message">{{ form | alert_first_error }}</div>
	<form id="register-form" action="{{ url_for('account.register') }}" method="post">
		{{ form | kform_inline }}
		<button type="submit" class="btn btn-primary btn-lg btn-block">马上注册</button>
	</form>
	<div class="pull-left">
		<a href="{{ url_for('account.login') }}">已有账号？登录。</a>
	</div>
</div>
{% endblock %}
