{% extends "base.html" %}

{% block title %}小酷实验室 - 正文提取{% endblock %}
{% block keyword %}小酷,小酷实验室,正文提取,文章提取,HTML提取{% endblock %}
{% block description %}小酷实验室隶属于广州小酷计算机科技有限公司旗下，目前主要提供HTML正文提取测试功能。{% endblock %}

{% block body %}
<div class="container">
	<h1 class="text-center" style="margin: 40px auto;">小酷实验室 - 正文提取</h1>
	<form action="{{ url_for('article.article') }}">
		<div class="input-group">
			<input class="form-control" name="url" placeholder="文章链接">
	    	<span class="input-group-btn">
				<button type="submit" class="btn btn-default">提取正文</button>
			</span>
		</div>
	</form>
	{% if articles %}
	<div class="article-others">
		<h4 class="page-header">第{{ page }}页，共有{{ count }}篇文章</h4>
		<div class="list-group">
			{% for article in articles %}
			<a class="list-group-item clearfix" href="{{ url_for('article.article', url=article._id) }}">{{ article.title }}<span class="pull-right">{{ article.pubtime }}</span></a>
			{% endfor %}
		</div>
	</div>
	<ul class="pager">
	  	{% if page > 1 %}<li class="previous"><a href="{{ url_for('article.article_list', page=page-1) }}">&larr; 上一页</a></li>{% endif %}
	  	{% if page < pages %}<li class="next"><a href="{{ url_for('article.article_list', page=page+1) }}">下一页 &rarr;</a></li>{% endif %}
	</ul>
	{% endif %}
	
	<div class="copyright" style="color:#888;text-align:center;font-size:14px;margin-bottom:20px;">Copyright 2014. 小酷实验室 - <a class="back" href="http://lab.haoku.net/">正文提取测试</a></div>
</div>
{% endblock %}