{% extends "layout.html" %}

{% block title %}{{ message }}{% endblock %}
{% block body_class %}body-index{% endblock %}

{% block content %}
<div class="k-box k-message-box">
	<div class="alert alert-{{ status }}">
		{% if close %}
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		{% endif %}
		<span>{{ message }}</span>
	</div>
	{% if url %}
	<div class="k-redirect" style="margin-top:20px"><span>{{ seconds }}秒后即将为你跳转。<a href="{{ url }}" target="_blank">若浏览器无反应，请点击此处</a></span></div>
	{% endif %}
</div>
{% endblock %}

{% block footer_script %}
{% if url %}
<script type="text/javascript">
var times = {{ seconds }};
$('.k-redirect').html('<span>' + times + '秒后即将为你跳转。<a href="{{ url }}" target="_blank">若浏览器无反应，请点击此处</a></span>');
var _interval = setInterval(function () {
	times--;
	if (times < 0) {
		clearInterval(_interval);
		document.location.href = '{{ url }}';
		return;
	}
	$('.k-redirect').html('<span>' + times + '秒后即将为你跳转。<a href="{{ url }}" target="_blank">若浏览器无反应，请点击此处</a></span>');
}, 1000);
</script>
{% endif %}
{% endblock %}