<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Cache-Control" content="no-transform" />
	<meta name="baidu_union_verify" content="beb52279a4d8b0e61ceeb49b495e1126">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="{% block keywords %}{% endblock %}">
	<meta name="description" content="{% block description %}{% endblock %}">
	<title>
		{%- block title -%}
			{% block subtitle %}首页{% endblock %} - 好酷网
		{%- endblock -%}
	</title>
	{% block static_header %}{{ static_header() }}{% endblock %}
	{% block static_ie8 %}{{ static_ie8() }}{% endblock %}
	{% block header_script %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="
		{%- block body_class %}{% endblock %}">
{% block body %}{% endblock %}
{% block footer_script %}{% endblock %}
{% block baidu_tongji %}
<div style="display:none">
	<script type="text/javascript">
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F6cc0a6b10063c68cc82dfb452f3e60ec' type='text/javascript'%3E%3C/script%3E"));
	</script>
</div>
{% endblock %}
</body>
</html>
