{% extends "layout-fluid.html" %}

{% block content %}
<style>
.input-group, .btn-group {
	margin-bottom: 20px;
}
#history {
	max-height: 470px;
	overflow-y: auto;
	margin-bottom: 0;
}
@media (max-width: 767px) {
	#history {
		max-height: 124px;
		margin-bottom: 20px;
	}
}
</style>
<div class="row">
	<div class="col-md-4">
		<div class="input-group">
			<input id="url" class="form-control" type="text" placeholder="文章链接">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" onclick="$('#url').val('')"><i class="glyphicon glyphicon-remove"></i></button>
			</span>
		</div>
		<div class="btn-group btn-group-justified">
			<div class="btn-group">
				<button id="submit-common" type="submit" class="btn btn-primary" data-type="last">Common</button>
			</div>
			<div class="btn-group">
				<button id="submit-all" type="submit" class="btn btn-primary" data-type="last">All</button>
				</span>
			</div>
		</div>

		<div id="history" class="list-group">
			{% for href in historys %}
				<a class="list-group-item" href="{{ href }}" onclick="load_url(this.href);return false;">{{ href }}</a>
			{% endfor %}
		</div>
	</div>
	<div class="col-md-8">
		<textarea id="result" style="width:100%;height:580px;"></textarea>
	</div>
</div>
<script>
function load_url(url) {
	$('#url').val(url);
	$('#submit-common').click();
}

$('#submit-common').click(function () {
	if ($.trim($('#url').val()).length == 0) {
		return
	}
	var url = '/time/' + $('#url').val();
	$.get(url, {}, function (data) {
		$('#result').val(data);
	});
});
$('#submit-all').click(function () {
	var url = '/time/all';
	$.get(url, {}, function (data) {
		$('#result').val(data);
	});
});
$(document).keyup(function (e) {
	var key =  e.which;
	if (key == 13) {
		$('#submit-common').click();
	}
});
</script>
{% endblock %}