<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="submit-modal">编辑{{ admin_view.name }}</h4>
</div>

<div class="modal-body">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>key</th>
				<th>value</th>
			</tr>
		</thead>
		<tbody>
			{% for key, value in data.iteritems() %}
			<tr>
				<td>{{ key }}</td>
				<td>{{ value }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<script type="text/javascript">
$("a[data-target=#submit-modal]").click(function(ev) {
	ev.preventDefault();
	var target = $(this).attr("href");

	$("#submit-modal .modal-content").load(target, function() { 
		$("#submit-modal").modal("show"); 
	});
});
</script>