{% extends "layout.html" %}

{% block subtitle %}找回密码{% endblock %}
{% block body_id %}find-pass{% endblock %}


{% block content %}
<div class="container">
	<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
		<h3 class="page-header text-center">找回密码</h3>
		<div class="message">{{ form | alert_first_error }}</div>
		<form id="find-form" action="{{ url_for('users.find_pass') }}" method="post" style="margin-bottom:20px">
			{{ form | kform_inline }}
			<button type="submit" class="btn btn-info btn-lg btn-block">提交</button>
		</form>
	</div>
</div>
{% endblock %}""