Babel==1.3
BeautifulSoup==3.2.1
Fabric==1.10.0
Flask==0.10.1
Flask-Babel==0.9
Flask-Cache==0.13.1
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-RESTful==0.2.12
Flask-SQLAlchemy==1.0
--allow-all-external Flask-Sendmail==0.2
Flask-Sockets==0.1
Flask-WTF==0.10.0
Flask-uWSGI-WebSocket==0.2.5
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.6.1
PyTrie==0.2
PyYAML==3.11
Pygments==1.6
SQLAlchemy==0.9.6
SQLAlchemy-Utils==0.26.3
Sphinx==1.2.3
WTForms==1.0.5
Werkzeug==0.9.6
aniso8601==0.83
argparse==1.2.1
beautifulsoup4==4.3.2
blinker==1.3
cchardet==0.3.5
chardet==2.2.1
cssselect==0.9.1
--allow-unverified difflib2==0.1.0
docutils==0.12
ecdsa==0.11
fabtools==0.19.0
feedparser==5.1.3
flask-mongoengine==0.7.1
flask-paginate==0.2.1
gevent==1.0.1
gevent-websocket==0.9.3
greenlet==0.4.2
ipython==2.1.0
itsdangerous==0.24
jieba==0.32
lxml==3.4.0
mongoengine==0.8.7
newspaper==0.0.7
nltk==2.0.4
paramiko==1.15.0
passlib==1.6.2
pycrypto==2.6.1
pymongo==2.7.1
pytz==2014.4
redis==2.10.1
requests==2.3.0
simhash==1.4.6
six==1.7.3
speaklater==1.3
uWSGI==2.0.6
wheezy.captcha==0.1.29
wsgiref==0.1.2
-e git+https://github.com/john-kurkowski/tldextract@fbc6116d154d99eefee08c3a8c11d33dee9a425b#egg=tldextract-master
-e git+https://github.com/mrjoes/flask-admin@beb637fa4d08d352839af92c79dfeea8fbd996f7#egg=Flask_Admin-master
-e git+https://github.com/endsh/kson.git@fa8f75deb14f16a482d105f8ae172371973c0543#egg=kson-master