{% extends "layout.html" %}

{% block subtitle %}加入我们{% endblock %}

{% block main %}
<div class="join">
	<div class="banner"></div>
	<div class="menu text-center">
		<div class="container">
			<a href="/about">关于我们</a>
			<a href="./join" class="active">加入我们</a>
			<a href="./media">媒体报道</a>
			<a href="./link">合作伙伴</a>
			<a href="./contact">联系我们</a>
			<a href="./update">更新日志</a>
		</div>
	</div>
	<div class="container hiring">
		<h3>加入我们</h3>
		<p>目前，小酷正处于创业起步阶段。就像小酷的名字一样，加入我们的小伙伴都应该是“酷酷的”，我们非常乐意和优秀的小伙伴一起努力，一起奋斗。我们希望你是：技术大神而带有产品意识、营销能手而善于运营、善于市场战略分析而有较为丰富的人脉资源。</p>
		<div class="row">
			<div class="col-md-6">
				<ul class="job-lists">
					<li class="job-li"><h4>网站推广专员</h4></li>
					<li class="job-li"><span>岗位职责</span>：</li>
					<li class="job-li">
						<ol>
							<li>负责制定并执行网站推广方案，提升网站在搜索引擎关键词排名与流量</li>
							<li>分析网站现有问题，制定网站内、外部优化方案</li>
							<li>能够独立完成关键词的筛选和定位,以及对排名效果的监督</li>
							<li>维护活跃网友，提高网友的活跃度和黏着度</li>
							<li>网站的营销推广，提高网站的知名度</li>
						</ol>
					</li>
					<li class="job-li"><span>任职要求</span>：</li>
					<li class="job-li">
						<ol>
							<li>熟练掌握各种seo优化知识、技巧和基础的网站建设能力</li>
							<li>能够处理基本的网页，图片、多媒体文件等</li>
							<li>良好的文字编辑能力，较好的文字表达和评论能力</li>
							<li>思维敏捷，归纳分析能力突出，能够很好的利用网络资源寻找所需的资料并利用</li>
						</ol>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul class="job-lists">
					<li class="job-li"><h4>python工程师</h4></li>
					<li class="job-li"><span>岗位职责</span>：</li>
					<li class="job-li">
						<ol>
							<li>负责公司web项目开发</li>
							<li>分析网站现有问题，制定网站内、外部优化方案，并与相关部门同事配合执行</li>
							<li>能够独立完成关键词的筛选和定位,以及对排名效果的监督</li>
							<li>维护活跃网友，提高网友的活跃度和黏着度</li>
							<li>网站的营销推广，提高网站的知名度</li>
						</ol>
					</li>
					<li class="job-li"><span>任职要求</span>：</li>
					<li class="job-li">
						<ol>
							<li>熟练掌握各种seo优化知识、技巧和基础的网站建设能力</li>
							<li>能够处理基本的网页，图片、多媒体文件等</li>
							<li>良好的文字编辑能力，较好的文字表达和评论能力</li>
							<li>思维敏捷，归纳分析能力突出，能够很好的利用网络资源寻找所需的资料并利用</li>
						</ol>
					</li>
				</ul>
			</div>
		</div>
		<p>期待你的加入，简历请发送至 hr@haoku-inc.com，我们会在一周之内和你联系。 </p>
	</div>
</div>
{% endblock %}