{% extends "layout.html" %}

{% block subtitle %}合作伙伴{% endblock %}

{% block main %}
<div class="link">
	<div class="banner"></div>
	<div class="menu text-center">
		<div class="container">
			<a href="/about">关于我们</a>
			<a href="./join">加入我们</a>
			<a href="./media">媒体报道</a>
			<a href="./link" class="active">合作伙伴</a>
			<a href="./contact">联系我们</a>
			<a href="./update">更新日志</a>
		</div>
	</div>
	<div class="container partner">
		<h3>合作伙伴</h3>
		<p>感谢合作伙伴的支持，让小酷变得更有活力。如您有合作意向，欢迎 <a href="#">联系我们</a> 。</p>
		<h4>开发者服务战略合作伙伴</h4>
		<ul class="link-list">
			<li><a href="#"><img src="/static/img/kugou.png"></a></li>
			<li><a href="#"><img src="/static/img/youku.png"></a></li>
			<li><a href="#"><img src="http://static.segmentfault.com/page/img/logo/bdy.dbdce118.png"></a></li>
			<li><a href="#"><img src="http://static.segmentfault.com/page/img/logo/aliyun.2faa92c8.png"></a></li>
			<li><a href="#"><img src="http://static.segmentfault.com/page/img/logo/bdy.dbdce118.png"></a></li>
			<li><a href="#"><img src="http://static.segmentfault.com/page/img/logo/aliyun.2faa92c8.png"></a></li>
			<li><a href="#"><img src="http://static.segmentfault.com/page/img/logo/bdy.dbdce118.png"></a></li>
			<li><a href="#"><img src="http://static.segmentfault.com/page/img/logo/aliyun.2faa92c8.png"></a></li>
			<li><a href="#"><img src="http://static.segmentfault.com/page/img/logo/bdy.dbdce118.png"></a></li>
			<li><a href="#"><img src="http://static.segmentfault.com/page/img/logo/aliyun.2faa92c8.png"></a></li>
		</ul>
		<h4>创业投资战略合作伙伴</h4>
		<ul class="link-list">
			<li><a href="#"><img src="/static/img/kugou.png"></a></li>
			<li><a href="#"><img src="/static/img/youku.png"></a></li>
			<li><a href="#"><img src="http://static.segmentfault.com/page/img/logo/bdy.dbdce118.png"></a></li>
			<li><a href="#"><img src="http://static.segmentfault.com/page/img/logo/aliyun.2faa92c8.png"></a></li>
			<li><a href="#"><img src="http://static.segmentfault.com/page/img/logo/bdy.dbdce118.png"></a></li>
			<li><a href="#"><img src="http://static.segmentfault.com/page/img/logo/aliyun.2faa92c8.png"></a></li>
			<li><a href="#"><img src="http://static.segmentfault.com/page/img/logo/bdy.dbdce118.png"></a></li>
			<li><a href="#"><img src="http://static.segmentfault.com/page/img/logo/aliyun.2faa92c8.png"></a></li>
			<li><a href="#"><img src="http://static.segmentfault.com/page/img/logo/bdy.dbdce118.png"></a></li>
			<li><a href="#"><img src="http://static.segmentfault.com/page/img/logo/aliyun.2faa92c8.png"></a></li>
		</ul>

	</div>
</div>
{% endblock %}