{% extends "layout.html" %}

{% block subtitle %}媒体报道{% endblock %}

{% block main %}
<div class="report">
	<div class="banner"></div>
	<div class="menu text-center">
		<div class="container">
			<a href="/about">关于我们</a>
			<a href="./join">加入我们</a>
			<a href="./media" class="active">媒体报道</a>
			<a href="./link">合作伙伴</a>
			<a href="./contact">联系我们</a>
			<a href="./update">更新日志</a>
		</div>
	</div>
	<div class="container media-report">
		<h3>媒体报道</h3>
		<p>随着开发者人群的壮大，小酷科技越来越受到业界的关注</p>
		<table class="report-list table table-striped">
			<tbody>
				<tr>
					<td>创业帮</td>
					<td><a href="#">《SegmentFault 高阳：创业好比马拉松，技巧是选择和坚持》</a></td>
				</tr>
				<tr>
					<td>技术人攻略</td>
					<td><a href="#">《理想主义者的落地之路——从怀揣 500 块的北漂退学生，到福布斯 30 岁以下 30 人创业榜》</a></td>
				</tr>
				<tr>
					<td>36 氪</td>
					<td><a href="#">《面向开发者的技术问答社区 SegmentFault 获数百万人民币天使轮融资》</a></td>
				</tr>
				<tr>
					<td>虎嗅</td>
					<td><a href="#">《中国新媒体创业大赛，全国20强项目，SegmentFault 以北京赛区第二名入选》</a></td>
				</tr>
				<tr>
					<td>虎嗅</td>
					<td><a href="#">《中国新媒体创业大赛，全国20强项目，SegmentFault 以北京赛区第二名入选》</a></td>
				</tr>
				<tr>
					<td>虎嗅</td>
					<td><a href="#">《中国新媒体创业大赛，全国20强项目，SegmentFault 以北京赛区第二名入选》</a></td>
				</tr>
				<tr>
					<td>36 氪</td>
					<td><a href="#">《TechCrunch Disrupt Hackthon：SF Team 设计的 42talk 入选》</a></td>
				</tr>

			</tbody>
		</table>

	</div>
</div>	
{% endblock%}