{% extends 'simin_user/base.html' %}

{% block content %}
<div class="row" >
    <div class="col-sm-offset-3 col-md-6">
        <div id="profile-section" class="section clearfix">
            <h3 class="page-header">Forgot Password</h3>
            <div class="k-message">{{ form | alert_first_error }}</div>
            <div class="col-md-9">
                <form id="profile-form" class="form-horizontal" action="{{ url_for('user.forgot_password') }}" method="post">
                    {{ form | kform_inline }}
                    
                    <div class="btn-box">
                        <button type="submit" class="btn btn-info btn-block">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}